

<style>
  .menu-title{
    color: aliceblue;
  }
</style>
 <nav class="sidebar sidebar-offcanvas" id="sidebar" >
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <!-- <a class="sidebar-brand brand-logo" href="index.html"><img src="/public/adminAssets/AdminHomepage/images/logo.svg" alt="logo" /></a> -->
      <!-- <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/public/adminAssets/AdminHomepage/images/logo-mini.svg" alt="logo" /></a> -->
      <a href="#" class="logo" style="    color: white;
					font-weight: 700;
					font-family: cursive;
					margin-top: 6px;">
					SHUE CROPS
						<!-- <img src="/public/logo/john.png" style="width: 50px; height: 50px;" alt="IMG-LOGO">  -->
					</a>
    </div>
    <ul class="nav " style="position: fixed;">
      
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/homepage">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <!-- <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/addcategory">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Category</span>
        </a>
      </li> -->

      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-icon">
            <i class="mdi mdi-laptop"></i>
          </span>
          <span class="menu-title">Category</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/addcategory">Add category</a></li>
            <li class="nav-item"> <a class="nav-link" href="/admin/viewcategory">View category</a></li>
            
          </ul>
        </div>
      </li>
      
      <li class="nav-item menu-items">
        <a class="nav-link" href="pages/forms/basic_elements.html">
          <span class="menu-icon">
            <i class="mdi mdi-playlist-play"></i>
          </span>
          <span class="menu-title">Customers</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/view-products">
          <span class="menu-icon">
            <i class="mdi mdi-table-large"></i>
          </span>
          <span class="menu-title">Products</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/user-management">
          <span class="menu-icon">
            <i class="mdi mdi-chart-bar"></i>
          </span>
          <span class="menu-title">Users</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="/admin/orders">
          <span class="menu-icon">
            <i class="mdi mdi-contacts"></i>
          </span>
          <span class="menu-title">Orders</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <span class="menu-icon">
            <i class="mdi mdi-security"></i>
          </span>
          <span class="menu-title">Coupons</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
          <span class="menu-icon">
            <i class="mdi mdi-file-document-box"></i>
          </span>
          <span class="menu-title">Documentation</span>
        </a>
      </li>
      <!-- <li class="nav-item menu-items btn btn-danger  btn-sm">
        <a href="" style="    width: 102px;
        margin-left: 45px;
        color: white;">Log out</a>
      </li> -->
      <a class="btn btn-danger mx-4 mt-3" href="/admin/logout">Logout</a>
    </ul>
  </nav>