<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet"   href="/public/adminAssets/buttonstyle.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
     <link rel="stylesheet" href="/public/adminAssets/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="/public/adminAssets/AdminHomepage/css/style.css">
    <!-- End layout styles -->
    <!-- Add these in your HTML -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css" integrity="sha512-KkqFsUqTdZyWKFuEAPYgsH7sOpoX+E2OVpbXvA/Ia2nCdAK6+HiAVePtnPdhqpbuyuZqB0RHc3P6K4WvKvWwEg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tZ1iXc5L1eGqenGtKaOz3zzTmq6Gqcvuwc9hA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js" integrity="sha512-5L/G0a6dhjj/YKFbp5B9TMEBfTz3XN4o50Lcb3QeU0vuvbAU9cRTwYqZ/V+FMmGs6gjufXx/6o5F+3wLVFR6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


   
   
  </head>
  <body>
    <div class="container-scroller">