<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shoe Crops</title>
    <!-- plugins:css -->
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet"  href="/public/adminAssets/AdminHomepage/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet"   href="/public/adminAssets/buttonstyle.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
     <link rel="stylesheet" href="/public/adminAssets/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="/public/adminAssets/AdminHomepage/css/style.css">
    <!-- End layout styles -->
    <!-- Add these in your HTML -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs@1.6.1/dist/cropper.min.css">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
   
  </head>
  <body>
    <div class="container-scroller">